<div>
    <ng-container *ngIf="artist !== null">
      <h1 class="title">Profile of {{ artist["name"] }}</h1>
      <br />
      <div class="row">
        <div class="column">
          <img [src]="artist.images[0].url" alt="" class="center" />
        </div>
        <div >
         
          <table>
            <tbody>
              <tr class="table-primary">
                <th scope="row"> Follower </th>
                <td>  {{ artist.followers.total }} </td>
              </tr>
              <tr class="table-primary">
                <th scope="row">Genres </th>
                <td>{{ artist.genres.join(", ") }}</td>
              </tr>
              <tr class="table-primary">
                <th scope="row"> Popularity </th>
                <td>{{ artist["popularity"] }}</td>
              </tr>
            </tbody>
          </table>
        </div>

       

      </div>
    </ng-container>
    <br />
    <br />
    <div class="row">
      <div
        class="col-lg-4 col-md-4 col-sm-12 col-xs-12"
        *ngFor="let album of (albums$ | async)"
      >
        <app-album-box
          [album]="album"
          (viewDetails)="viewDetails($event)"
        ></app-album-box>
      </div>
    </div>
    <table class="table table-hover">
      
     
    </table> 
  </div>